.footer-style {
    height: 100% !important;
    margin-top: 50px !important;
    text-align: center !important;
    padding: 32px 0 !important;
    line-height: 26px !important;
    font-size: 15px !important;
    background-color: #192027 !important;
    color: #999 !important;
}